<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="wbp.ui.category"
            name="WAR Binary Project">
      </category>
      <wizard
            category="WAR Binary Project"
            class="wbp.ui.ImportWARWizard"
            icon="icons/WBP.gif"
            id="wbp.ui.ImportWARWizard"
            name="Import WAR Binary Project">
         <description>
            Import a WAR binary project into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="wbp.ui.PreferencePage"
            id="wbp.preferences"
            name="WBP Preferences">
      </page>
   </extension>

</plugin>
