<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
   <!-- add the import wizard extension -->
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="wbp.ui.category"
            name="WBP">
      </category>
      <wizard
            category="wbp.ui.category"
            class="wbp.ui.ImportWARWizard"
            icon="icons/WBP.gif"
            id="wbp.ui.ImportWARWizard"
            name="WAR Binary Project">
         <description>
            Import a WAR binary project into the workspace.
         </description>
      </wizard>
   </extension>
   
   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="wbp.preferences.WBPPreferences">
	   </initializer>
	</extension>
   
   <!-- create a preferences menu item for war binary processing -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="wbp.ui.WBPPreferencePage"
            id="wbp.preferences"
            name="War Binary Processing"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
   </extension>

</plugin>
